<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/profile">
    <input type="text" name="username" placeholder="enter username"/>
    <br><br>
    <input type="text" name="password" placeholder="********" />
    <br><br>
    <button>Submit</button>
    </form>
</body>
</html>